.outerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    120deg,
    #e0a243,
    #3e9c89,
    #e67343,
    #fce8a9,
    #f0b7b6,
    #568596,
    #61292b,
    #c7b5a1,
    #e0a243
  );
  background-size: 1000% 1000%;
  animation: AnimationName 40s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 70%;
  width: 35%;
  margin-right: 50px;
}

.titlePhone {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .titlePhone {
    display: inline;
    color: white;
    font-size: 40px;
  }

  .outerContainer {
    flex-direction: column;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 8px;
    height: 70%;
    width: 70%;
  }
}
